body {
  padding: 0;
  margin: 0;
  min-height: 100svh;
  display: grid;
  place-content: center;
  background-color: tomato;
}

.button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.glow-effect {
  position: relative;
  --glow-offset: 50px;
  --glow-line-color: #fff;
  --glow-line-thickness: 3px;
  --glow-blur-color: #fff;
  --glow-blur-size: 10px;
}

.glow-container {
  /* outline: 2px solid; */
  position: absolute;
  pointer-events: none;
  inset: calc(var(--glow-offset) / -2);
  width: calc(100% + var(--glow-offset));
  height: calc(100% + var(--glow-offset));
}

.glow-blur,
.glow-line {
  width: calc(100% - var(--glow-offset));
  height: calc(100% - var(--glow-offset));
  x: calc(var(--glow-offset) / 2);
  y: calc(var(--glow-offset) / 2);
  rx: 1rem;
  fill: transparent;
  stroke-width: 2px;
  stroke-dasharray: 20 30;
  transition: stroke-dashoffset 1000ms;
}
.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}
.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}
.glow-effect:hover .glow-blur,
.glow-effect:hover .glow-line {
  stroke-dashoffset: -50;
}
